.list-process{
    padding:10px 12px;
}
.page-service-process .content{
    background: url("../img/bg-line.png") repeat-y 50px;
}
.item-process{
    background: #ffffff;
    display: flex;
    height:80px;
    align-items: center;
    padding-left:20px;
    margin-bottom:10px;
    box-shadow: 0px 2px 10px #f0f0f0;
}
.ico-ok{
    width: 32px;
    height:32px;
    background: url("../img/ico-ok.png");
    background-size: 32px auto;
    margin-right:16px;
}
.item-process span{
    font-size: 16px;
    color: #000;
}
.item-process p{
    display: flex;
    flex-direction: column;
}
.item-process time{
    font-size: 13px;
    color: #666;
}